<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hey Raj! You have a new order waiting!</h2>
    <h4>Ordered items:</h4>
		<table>
      <tr><th colspan="2">Qty</th><th>Description</th></tr>
      <%= render @order.line_items -%>
    </table>
    <hr>
    <h4>Address for delivery:</h4>
      <p>
        <ul>
          <li>Street Address: <%= @order.user.street_address %></li>
          <li>Unit Number: <%= @order.user.unit_number %></li>
          <li>Buzzer Number: <%= @order.user.buzzer_number %></li>
          <li>City: <%= @order.user.city %></li>
          <li>Postal Code: <%= @order.user.postal_code %></li>
        </ul>
      </p>
      <hr>
      <h4>Customers Personal Info:</h4>
      <p>
        <ul>
          <li>Name: <%= @order.user.name %></li>
          <li>Phone: <%= @order.user.telephone %></li>
        </ul>
      </p>
  </body>
</html>