
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to "Admin Dashboard", dashboards_index_path %>
                </li>
                <li>
                	<%= link_to "Dashboard", dashboards_index_path %>
                </li>
                <li>
                    <%= link_to "Manage Categories", categories_path %>
                </li>
                <li>
                    <%= link_to "Manage Products", products_path %>
                </li>
                <li>
                    <%= link_to "Users", dashboards_list_all_users_path %>
                </li>
                <li>
                    <%= link_to "Sales Reports", '#' %>
                </li>
                <li>
                    <%= link_to "Store Settings", '#' %>
                </li>
                <h6 style="color: white; margin-top: 120px;">The Cookie Retail - V1.0</h6>
                <h6 style="color: white;">System Status: <span style="color: green;">OK</span></h6>
            </ul>

        </div>
        <!-- /#sidebar-wrapper -->

        
    
    