<div id="wrapper">
	<%= render 'dashboards/sidebar' %>

	<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<a href="#menu-toggle" class="btn btn-info btn-xs" id="menu-toggle">Toggle Menu</a>
                        
                        <div class="row" style="margin-top: 30px;">
			                <div class="col-lg-3 col-md-6">
			                    <div class="panel panel-primary">
			                        <div class="panel-heading">
			                            <div class="row">
			                                <div class="col-xs-3">
			                                	<i class="fa fa-users fa-5x" aria-hidden="true"></i>
			                                    <!--<i class="fa fa-comments fa-5x"></i>-->
			                                </div>
			                                <div class="col-xs-9 text-right">
			                                    <div class="huge"><%= @users.count %></div>
			                                    <div>Registered<br> Users!</div>
			                                </div>
			                            </div>
			                        </div>
			                        <%= link_to dashboards_list_all_users_path do %>
			                        	<div class="panel-footer">
			                                <span class="pull-left">View Details</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        <% end %>
			                        
			                    </div>
			                </div>
			                <div class="col-lg-3 col-md-6">
			                    <div class="panel panel-success">
			                        <div class="panel-heading">
			                            <div class="row">
			                                <div class="col-xs-3">
			                                    <i class="fa fa-tasks fa-5x"></i>
			                                </div>
			                                <div class="col-xs-9 text-right">
			                                    <div class="huge"><%= @products.count %></div>
			                                    <div>Products!</div>
			                                </div>
			                            </div>
			                        </div>

			                        <%= link_to products_path do %>
			                        	<div class="panel-footer">
			                                <span class="pull-left">View Details</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        <% end %>
			                    </div>
			                </div>
			                <div class="col-lg-3 col-md-6">
			                    <div class="panel panel-warning">
			                        <div class="panel-heading">
			                            <div class="row">
			                                <div class="col-xs-3">
			                                    <i class="fa fa-shopping-cart fa-5x"></i>
			                                </div>
			                                <div class="col-xs-9 text-right">
			                                    <div class="huge"><%= @orders.count %></div>
			                                    <div>Total Orders!</div>
			                                </div>
			                            </div>
			                        </div>
			                        <%= link_to orders_path do %>
			                            <div class="panel-footer">
			                                <span class="pull-left">View Details</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        <% end %>
			                    </div>
			                </div>
			                <div class="col-lg-3 col-md-6">
			                    <div class="panel panel-danger">
			                        <div class="panel-heading">
			                            <div class="row">
			                                <div class="col-xs-3">
			                                    <i class="fa fa-support fa-5x"></i>
			                                </div>
			                                <div class="col-xs-9 text-right">
			                                    <div class="huge">0</div>
			                                    <div>System<br>Messages!</div>
			                                </div>
			                            </div>
			                        </div>
			                        <a href="#">
			                            <div class="panel-footer">
			                                <span class="pull-left">View Details</span>
			                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                                <div class="clearfix"></div>
			                            </div>
			                        </a>
			                    </div>
			                </div>
			            </div>
			            <!-- /.row -->
                    </div>
                </div><!-- end row -->
                <hr>
                <div class="row">
                	<div class="col-md-12">
                		<h2>Daily visits</h2>
                		<%= stats_dashboard_index %>
                	</div>
                </div><!-- end row -->
                <div class="row">
                	<!-- Step 1: Create the containing elements. -->

					<section id="auth-button"></section>
					<section id="view-selector"></section>
					<section id="timeline"></section>

					<!-- Step 2: Load the library. -->

					<script>
					(function(w,d,s,g,js,fjs){
					  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
					  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
					  js.src='https://apis.google.com/js/platform.js';
					  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
					}(window,document,'script'));
					</script>

					<script>
					gapi.analytics.ready(function() {

					  // Step 3: Authorize the user.

					  var CLIENT_ID = '80194299';
					  var apiKey = 'YOUR API KEY';
					  var scopes = 'https://www.googleapis.com/auth/plus.me';

					  gapi.analytics.auth.authorize({
					    container: 'auth-button',
					    clientid: CLIENT_ID,
					  });

					  // Step 4: Create the view selector.

					  var viewSelector = new gapi.analytics.ViewSelector({
					    container: 'view-selector'
					  });

					  // Step 5: Create the timeline chart.

					  var timeline = new gapi.analytics.googleCharts.DataChart({
					    reportType: 'ga',
					    query: {
					      'dimensions': 'ga:date',
					      'metrics': 'ga:sessions',
					      'start-date': '30daysAgo',
					      'end-date': 'yesterday',
					    },
					    chart: {
					      type: 'LINE',
					      container: 'timeline'
					    }
					  });

					  // Step 6: Hook up the components to work together.

					  gapi.analytics.auth.on('success', function(response) {
					    viewSelector.execute();
					  });

					  viewSelector.on('change', function(ids) {
					    var newIds = {
					      query: {
					        ids: ids
					      }
					    }
					    timeline.set(newIds).execute();
					  });
					});
					</script>
                </div><!-- end row -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->
</div><!-- end wrapper -->


<%= render 'dashboards/toggle_sidebar_script' %>