<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, autofocus: true %>
    <%= f.input :price %>
    <%= f.input :weight %>
    <%= f.input :sku %>
    <%= f.input :description %>
    <div class="field">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :name %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
