<%= simple_form_for(@product) do |f| %>

  <div class="form-group">
    <%= f.input :name, autofocus: true, class: "form-control" %>
    <%= f.input :price, class: "form-control" %>
    <%= f.label "Add Product Image" %>
    <%= f.file_field :attachment, class: "form-control" %>
    <%= f.input :weight, class: "form-control" %>
    <%= f.input :sku, class: "form-control" %>
    <%= f.input :description, class: "form-control" %>
    <%= f.input :keywords, hint: "add comma separated keywords", class: "form-control" %>
    <div class="field">
      <%= f.label :category_id %><br>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control", id: "select" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
