<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
        <h1><%= @product.name %></h1>
      </div>
    </div><!-- end col-md-12 -->
  </div><!-- end row -->

  <div class="row">
    <div class="col-md-6">
      <%= image_tag "vc_god_bud-470.jpg", class: "img-responsive" %>
    </div><!-- end col-md-8 -->
    <div class="col-md-6">
      <h3><em>$<%= @product.price %></em></h3>
      <h4><span style="color: green;">IN STOCK</span></h4>
      <% if @product.weight == 1 %>
        <h3><strong>SIZE:</strong> <%= @product.weight %> gram</h3>
      <% else %>
        <h3><strong>SIZE:</strong> <%= @product.weight %> grams</h3>
      <% end %>
      <h5>SKU: <%= @product.sku %></h5>
      <br>
      <h3 style="border-bottom: 1px solid #eee;">Description</h3>
      <p><%= @product.description %></p>
      <br>
      <h5>Share Product</h5>
      <i class="fa fa-facebook-official" aria-hidden="true"></i> <i class="fa fa-twitter-square" aria-hidden="true"></i>

      <%= button_to "Add to Cart", line_items_path(product_id: @product) %>
    </div><!-- end col-md-6 -->
  </div><!-- end row -->
</div><!-- end container -->




<%# link_to 'Edit', edit_product_path(@product) %> 
<%= link_to 'Edit', edit_product_path(@product) if current_user.admin? %> |
<%# link_to 'Back', products_path %>
<%= link_to 'Back', root_path %>
