<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">Edit <%= resource_name.to_s.humanize %></div>
        <div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.input :name, required: true, autofocus: true, class: "form-control" %>
                <%= f.input :street_address, required: true, class: "form-control" %>
                <%= f.input :city, required: true, class: "form-control" %>
                <%= f.input :unit_number, placeholder: "Optional", class: "form-control" %>
                <%= f.input :buzzer_number, placeholder: "Optional", class: "form-control" %>
                <%= f.input :province, required: true, class: "form-control" %>
                <%= f.input :postal_code, required: true, class: "form-control" %>
                <%= f.input :telephone, required: true, class: "form-control" %><br>
                <%= f.radio_button :is_female, '1' %> <%= f.label :is_female, "Female", id: "optionsRadios1" %>
                <%= f.radio_button :is_female, '0' %> <%= f.label :is_female, "Male", id: "optionsRadios1" %><br>
                <br>
                  <%= f.label :date_of_birth %>
                  <%= f.date_select :date_of_birth, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 19, end_year: Date.today.year - 80}, {required: true, class: "form-control", id: "select"} %><br>
                  <%= f.input :email, required: true, class: "form-control" %>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                  <% end %>

                  <hr>
                  <small><em>If you want to change the password, leave it blank if you don't want to change it</em></small>
                  <%# f.input :password, autocomplete: "off", required: false %>
                  
                  <%# f.input :password_confirmation, required: false %>
                  <%# f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                </div><!-- end form-group -->
                <div class="form-actions">
                  <%= f.button :submit, "Update My Account", class: "btn btn-default btn-lg btn-block" %>
                </div>
              <% end %>
            </div><!-- end col-md-12 -->
          </div><!-- end row -->
        </div><!-- end panel-body -->
      </div><!-- end panel-heding -->
    </div><!-- end col-md-7 -->
    <div class="col-md-5">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Not Happy?</h3>
        </div>
        <div class="panel-body">
          <p>Unhappy? We will be sad to see you leave... But if that is what you want, click on the button below.</p>
          <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-lg btn-block" %>
        </div>
      </div>

    </div><!-- end col-md-5 -->
  </div><!-- end row -->
</div><!-- end container -->
